@font-face {
    font-family: 'Roboto Serif 28pt';
    src: url('RobotoSerif28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif 28pt';
    src: url('RobotoSerif28pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif 28pt';
    src: url('RobotoSerif28pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif 28pt';
    src: url('RobotoSerif28pt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}